go 1.23.0

use (
	.
	./adapter/chiopenapi
	./adapter/chiopenapi/examples/basic
	./adapter/echoopenapi
	./adapter/echoopenapi/examples/basic
	./adapter/fiberopenapi
	./adapter/fiberopenapi/examples/basic
	./adapter/ginopenapi
	./adapter/ginopenapi/examples/basic
	./adapter/httpopenapi
	./adapter/httpopenapi/examples/basic
	./adapter/muxopenapi
	./adapter/muxopenapi/examples/basic
	./examples/basic
	./examples/basic-http
	./examples/petstore
)
